.trc__ {
  &carousel {
    position: relative;
    overflow: hidden;
  }
  &slider {
    position: absolute;
    display: flex;
    height: 100%;
    &-wrap {
      transition: transform 0.35s ease-in-out;
      // &.mutation {
      // }
      // transition: none;
      height: 50px;
    }
  }
  &slide {
    background-color: rgb(112, 171, 223);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
